body{
  background-color: rgba(87, 13, 122, 0.329);
  font-family: tahoma;
  font-size: 0.9rem;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-ul{
  list-style-type: none;
  display: grid;
  row-gap: 2px;
  justify-items: center;
  align-items: center;
  padding: 0;
}
.ul-item{
  background-color: rgba(131, 9, 150, 0.137);
  color: #000000;
  padding: 10px 13px;
  width: 300px;
  display: flex;
  justify-content: space-between;
}
.icons{
  width: 15px;
}
p{
  text-transform: capitalize;
  font-weight: bold;
}
input{
  width: 305px;
  padding: 8px;
  background-color: rgba(126, 9, 150, 0.243);
  border: none;
  border-radius: 5px;
}
.icons:hover{
  opacity: 0.5;
}